<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contacto | Impacto Tecnologico</title>

    <link rel="stylesheet" href="../assets/css/boostrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script type="text/javascript" src="../assets/js/login.js"></script>
</head>

<body>
    <div class="container-fluid background-color">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <center>
                        <img src="../assets/img/avatar.png" class="menu-img">
                    </center>

                    <div class="menu">
                        <ul>
                            <li><a href="home.html">Inicio</a></li>
                            <li><a href="Listar_cursos.html">Cursos</a></li>
                            <li><a href="registro_pagos.html">Pagos</a></li>
                            <li><a href="#" class="active">Matricula</a></li>
                            <li onclick="closedLogin()"><a href="#" id="close">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="container">
                        <div class="card h-100 jumbotron my-4">

                            <!-- form start -->
                            <form id="matriculaForm">

                                <div class="form-header">
                                    <h3 class="form-title"><i class="fa fa-user"></i> Realizar Matricula</h3>
                                </div>
                                <div id="msgContactSubmitmatricula" class="hidden"></div>
                                <div class="form-body my-4">

                                    <div class="form-row">
                                        <div class="col">
                                            <label id="labelmonto">cod. estudiante:</label>
                                            <input type="number" class="form-control" id="cod_estudiante" min="1" required>
                                        </div>

                                        <div class="col">
                                            <label id="labelcuenta">cod. curso:</label>
                                            <input type="text" class="form-control" id="cod_curso" min="0" required>
                                        </div>

                                    </div>

                                </div>

                                <div class="form-footer col-md-4">
                                    <div class="form-row ">
                                        <button type="submit" class="btn btn-success">Realizar Matricula !</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                    <!-- /.container -->
                    <div class="container">
                        <div class="card h-100 jumbotron my-4">
                            <!-- form start -->
                            <form id="buscarmatriculaForm">
                                <div class="form-header">
                                    <h3 class="form-title"><i id="el_buscaMatricula" class="fa fa-user"></i>Buscar cuenta</h3>
                                    <div id="msgTablamatriculas" class="hidden"></div>
                                </div>
                                <div class="form-body my-4">

                                    <div class="form-row">

                                        <div class="col">
                                            <input type="text" class="form-control" id="nbcuenta" placeholder="Numero de cuneta " required>
                                        </div>

                                        <div>
                                            <button id="buscacuenta" class="btn btn-success">Buscar cuenta!</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <table id="Tabla_matricula" class="table table-bordered table-hover table-wrapper-scroll-y ">
                                        <thead>
                                            <tr class="table-primary">
                                                <th scope="col">Numero</th>
                                                <th scope="col">cod. estudiante</th>
                                                <th scope="col">cod. curso</th>
                                                <th scope="col">fecha Regsitro</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tablabody_matricula">
                                        </tbody>
                                    </table>
                                </div>

                        </div>
                    </div>
                    <!-- /.container -->
                    <script src="../controlador/formControler.js"></script>
                    <script src="../assets/js/paginate.js"></script>


                </div>
            </div>
        </div>
    </div>
</body>

</html>